
section.container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    font-family: Avenir, Helvetica, Arial, sans-serif;

    .generate-box {
        display: flex;
        gap: 10px;

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                display: flex;
                gap: 10px;
                justify-content: space-between;
            }
        }

        button {
            background-color: #eaae23;
        }
    }

    #output {

        border: 1px solid #323ed1;

        div.tableRow {
            display: flex;
            justify-content: space-between;

            div.tableCol {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 1px solid #323ed1;
                width: 30px;
                height: 30px;
                text-align: center;

            }
        }

        div.tableContainer {


            .tableHighlight {
                background-color: #fde3a5;
            }

            div.tableCol:first-of-type, div.tableRow:first-of-type, div.tableCol:last-of-type, div.tableRow:last-of-type {
                background-color: #969edb;
            }

            div.tableRow:hover {
                background-color: #b5ede5;
            }
        }
    }
}
